[Unit]
Description=Service ping alive
After=network.target ota_update.service mqtt_nfc.service mqtt_ping.service mqtt_scale.service mqtt_yolo.service

[Service]
WorkingDirectory=/opt/bask-e
ExecStart=/usr/bin/python3 /opt/bask-e/app.py
Restart=always

[Install]
WantedBy=multi-user.target
