[Unit]
Description=Service detection objets
After=network.target ota_update.service

[Service]
WorkingDirectory=/opt/bask-e
ExecStart=/usr/bin/python3 /opt/bask-e/mqtt_yolo.py
Restart=always

[Install]
WantedBy=multi-user.target
