[Unit]
Description=OTA Update Service for Jetson Nano
After=network.target

[Service]
WorkingDirectory=/opt/bask-e
ExecStart=/usr/bin/python3 /opt/bask-e/updater.py
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
